*{
    margin: 0;
    box-sizing: border-box;
}

#logo-header{
    background-color: hsl(212deg 100% 65%);
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top;
    height: 15vh;
    display: block;
}

#the-booleaner #logologo{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 5px;
}

header > h1{
    margin-top: 1rem;
}

#signature{
    font-size: small;
    font-weight: 700;
    color: grey;
}

#author-signature{
    color: skyblue;
}

#date-article{
    font-size: xx-small;
    line-height: 0.7rem;
    color: grey;
    font-weight: 500;
    margin-bottom: 10px;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

.tim-images{
    margin-top: 10px;
}

.caption-photo{
    font-weight: 900;
    font-size: x-small;
    color: grey;
}


.article-text #paragraph-article{
    margin-top: 15px;
}

.yellow-bg{
    background-color: yellow;
}

.unordered-list-article{
    margin-left: 0;
    margin-top: 30px;
    line-height: 18px;
}

.table-section{
    margin-top: 25px;
}

.cell-25{
    width: 25%;
}


.table-lorem{
    border-collapse: collapse;
    text-align: left;
}

.table-section thead{
    background-color: #20a9e5;
    color: white;
    
}

.tr-bgcolor{
    background-color: #b1e5f2;
}

.ending-article-text{
    margin-top: 25px;
}

#reccomanded-text{
    margin-top: 25px;
    margin-bottom: 7px;
    font-size: small;
    font-weight: 900;
    color: grey;
}

.footer-image-1{
    background-image: url("../img/monitor.jpg");
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 7px;
}

.footer-image-2{
    background-image: url("../img/graph.jpg");
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


.footer-image-caption{
    color: white;
    padding: 5px;
    font-weight: 900;
}

